<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <main>
        <header>
        </header>
        <section id="encabezado">
            <h1 id="title">C⃣   a⃣   m⃣   b⃣   i⃣   a⃣   L⃣   i⃣   b⃣   r⃣   o⃣   s⃣</h1>
            <ul class="menu">
                <li><%= link_to "Inicio", "/pages", class: 'btn primary'%></li>
                <li><%= link_to "Libros", libros_index_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Juegos", juegos_index_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Inventario", users_show_productos_path(current_user.id) , class: 'btn primary'%></li>
                <li><%= link_to "Publicar libro", libros_new_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Publicar juego", juegos_new_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Solicitudes Pendientes", solicituds_index_pendientes_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Historial de Solicitudes", solicituds_index_ar_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Tus Reseñas", resenas_index_path(current_user.id), class: "btn primary"%></li>
                <li><%= link_to "Soporte", "/soporte" , class: 'btn primary'%></li>
                <li><%= link_to "Tu Cuenta", users_show_path(current_user.id), class: 'btn primary'%></li>
            </ul>
        </section>
       
        <section>
            <section class="seccion-subtitulo">
            <h2 id="subtitulo">Dejar una reseña a <%=@user_receptor.nombre%></h2>
            </section>
            <section class="seccion-subtitulo">
            <%= form_with model: @resena, url:resenas_create_path(current_user.id, @user_receptor.id) do |form| %>
            <div>
                <%= form.label :Calificación %><br>
                <%= form.number_field :calificacion, in: 1..5%>
                <% @resena.errors.full_messages_for(:calificacion).each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>   

            <div>
                <%= form.label :Comentario %><br>
                <%= form.text_area :comentario %>
                <% @resena.errors.full_messages_for(:comentario).each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>
            <br>
            <%= form.submit "Guardar" %>
            
            <% end %>
            </section>
        </section>
       
    </main>

</body>
</html>