<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <main>
         <%= render 'shared/header-chico' %>
        <section>
            <section class="seccion-subtitulo">
            <h2 id="subtitulo">Dejar una reseña a <%=@user_receptor.nombre%></h2>
            </section>
            <section class="seccion-subtitulo">
            <%= form_with model: @resena, url:resenas_create_path(current_user.id, @user_receptor.id) do |form| %>
            <div>
                <%= form.label :"Calificación (1 al 5)"%><br>
                <%= form.number_field :calificacion, in: 1..5%>
                <% @resena.errors.full_messages_for(:calificacion).each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>   

            <div>
                <%= form.label :Comentario %><br>
                <%= form.text_area :comentario %>
                <% @resena.errors.full_messages_for(:comentario).each do |message| %>
                <div><%= message %></div>
                <% end %>
            </div>
            <br>
            <%= form.submit "Guardar" %>
            
            <% end %>
            </section>
        </section>
       
    </main>

</body>
</html>