<body style="background-color:#00695C">

<%= render 'shared/header-chico-sin-id' %>

<section class="seccion-subtitulo">
  <h2 id="subtitulo-inicio-sesion">Crear Cuenta</h2>
</section>

<section class="seccion-subtitulo">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Correo %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %>
    <% if @minimum_password_length %>
    <label>(Mínimo <%= @minimum_password_length %> caracteres)</label>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"Confirma tu contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :Teléfono %><br />
    <%= f.number_field :telefono %>
  </div>

  <div class="field">
    <%= f.label :Descripción %><br />
    <%= f.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= f.submit "Crear cuenta" %>
  </div>
<% end %>
</section>

<%= render "devise/shared/links" %>
</body>