<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <main>
         <%= render 'shared/header-chico' %>
        <section class="seccion-subtitulo">
            <h2 id="subtitulo"> Perfil de <%= @usuario.nombre%></h2>
        </section>
        <section class="seccion-subtitulo">
            <div class="caja-user-show">
                <div class="subcaja">Nombre</div>
                <div class="subcaja"><%= @usuario.nombre %></div>
                <div class="subcaja">Correo</div>
                <div class="subcaja"><%= @usuario.email %></div>
                <div class="subcaja">Teléfono</div>
                <div class="subcaja"><%= @usuario.telefono %></div>
                <div class="subcaja">Descripción</div>
                <div class="subcaja"><%= @usuario.descripcion %></div>
                <div class="subcaja">Rol</div>
                <div class="subcaja"><%= @rol %></div>
                <div class="subcaja">Cantidad de libros publicados</div>
                <div class="subcaja"><%= @libros_publicados %></div>
                <div class="subcaja">Cantidad de juegos publicados</div>
                <div class="subcaja"><%= @juegos_publicados %></div>
                
            </div>
        </section>
        <section class="seccion-subtitulo">
            <%= link_to "Eliminar cuenta", users_destroy_path(current_user.id), data:{turbo_method: :delete, turbo_confirm: "Estás seguro?"}, class:"btn-5"%></div>
        </section>
    </main>

</body>
</html>
