<body style="background-color:#00695C">
<%= render 'shared/header-chico-sin-id' %>


<section class="seccion-subtitulo">
  <h2 id="subtitulo-inicio-sesion"> ¿Olvidaste tu contraseña?</h2>
</section>
<section class="seccion-subtitulo">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

</section>

<%= render "devise/shared/links" %>
</body>