


<header class="header" id="header-chico">
        
         <div class="menu container">
            <input type="checkbox" id="logo-icono" />
            <label for="logo-icono2">
                <%= image_tag('portadainicio.png', alt: 'Portada de Inicio', class: 'icono') %>
            </label>

            <input type="checkbox" id="menu" />
            <label for="menu" id="label-menu">
                <img src="imagenes/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li class="opcion"><p><%= link_to_unless(current_user.nil?, "Inicio", "/pages", class:'btn primary') %></p></li>
                    <li class="opcion"><p><%= link_to_unless(current_user.nil?, "Productos", class: 'btn primary')%></p>
                        <ul>
                            <li class="sub-opcion"><p><%= link_to_unless(current_user.nil?, "Libros", libros_index_path(current_user.id), class: 'btn primary')%></p></li>
                            <li class="sub-opcion"><p><%= link_to_unless(current_user.nil?, "Juegos", juegos_index_path(current_user.id), class: 'btn primary')%></p></li>
                        </ul>
                    </li>
                    <li class="opcion"><p><%= link_to "Inventario", users_show_productos_path(current_user.id) , class: 'btn primary'%></p></li>
                    <li class="opcion"><p><%= link_to "Publicar", class: 'btn primary'%></p>
                        <ul>
                            <li><p><%= link_to "Libro", libros_new_path(current_user.id), class: 'btn primary'%></p></li>
                            <li><p><%= link_to "Juego", juegos_new_path(current_user.id) , class: 'btn primary'%></p></li>
                        </ul>
                    </li>
                    <li class="opcion"><p><%= link_to "Solicitudes",  class: 'btn primary'%></p>
                        <ul>
                            <li><%= link_to "Pendientes", solicituds_index_pendientes_path(current_user.id), class: 'btn primary'%></li>
                            <li><%= link_to "Historial", solicituds_index_ar_path(current_user.id), class: 'btn primary'%></li>
                        </ul>
                    </li>
                    <li class="opcion"><p><%= link_to "Tus Reseñas", resenas_index_path(current_user.id), class: "btn primary"%></p></li>
                    <li class="opcion"><p><%= link_to_unless(current_user.nil?, "Soporte", "/soporte", class: 'btn primary')%></p></li>
                    <li class="opcion"><p><%= link_to "Tu Cuenta", users_show_path(current_user.id), class: 'btn primary'%></p></li>
                    <li class="opcion"><p><%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'btn primary'%></p></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container" id="titulo-con-margin">
            
            <h1>Cambia Libros</h1>
        </div>


</header>