<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <%= render 'shared/header-chico' %>
    <main>
        
        <section class="seccion-subtitulo">
        <h2 id="subtitulo" Aquí encontrarás tu historial de solicitudes Aceptadas y Rechazadas>
        </section>
        <section class="seccion-subtitulo">
        <h2 id="subtitulo">Solicitudes Realizadas Aceptadas</h2>
        </section>
        <section class="seccion-tabla">
            <table>
                <thead>
                <tr>
                <th>Solicitaste el siguiente producto:</th>
                <th>Ofreciste el siguiente producto:</th>   
                <th>Estado de la solicitud</th> 
                <th>Usuario Oferente</th>
                <th>Deja una reseña</th> 
                </tr>
                </thead>

            <% @solicitudes_aceptadas_realizadas.each do |solicitud_aceptada_realizada| %>
            <tr>
            <td><%= solicitud_aceptada_realizada[1]%></td>
            <td><%= solicitud_aceptada_realizada[3]%></td>
            <td><%= solicitud_aceptada_realizada[0]%></td>
            <td><%=solicitud_aceptada_realizada[2].nombre%></td>
            <td><%= link_to "Dejar reseña", resenas_new_path(current_user.id, solicitud_aceptada_realizada[2].id), class: "btn-2"%></td>
            <% end %>
            </tr>
            </table>
        </section>

        <section class="seccion-subtitulo">
        <h2 id="subtitulo">Solicitudes Recibidas Aceptadas</h2>
        </section>
        <section class="seccion-tabla">
            <table>
                <thead>
                <tr>
                <th>Solicitaron tu producto:</th>
                <th>Te ofrecieron el siguiente producto:</th>   
                <th>Estado de la solicitud</th> 
                <th>Usuario Solicitante</th>  
                <th>Deja una reseña</th>         
                </tr>
                </thead>
            <% @solicitudes_aceptadas_recibidas.each do |solicitud_aceptada_recibida| %>
            <tr>
            <td><%= solicitud_aceptada_recibida[1]%></td>
            <td><%= solicitud_aceptada_recibida[3]%></td>
            <td><%= solicitud_aceptada_recibida[0]%></td>
            <td>  <%=solicitud_aceptada_recibida[4].nombre%></td>
            <td><%= link_to "Dejar reseña", resenas_new_path(current_user.id, solicitud_aceptada_recibida[4].id), class: "btn-2"%></td>
            <% end %>
            </tr>
            </table>
        </section>

        <section class="seccion-subtitulo">
        <h2 id="subtitulo">Solicitudes Realizadas Rechazadas</h2>
        </section>
        <section class="seccion-tabla">
            <table>
                <thead>
                <tr>
                <th>Solicitaste el siguiente producto:</th>
                <th>Ofreciste el siguiente producto:</th>   
                <th>Estado de la solicitud</th> 
                <th>Usuario Oferente</th>  
                <th>Deja una reseña</th>  
                <th>Eliminar del historial</td>
                </tr>
                </thead>

            <% @solicitudes_rechazadas_realizadas.each do |solicitud_rechazada_realizada| %>
            <tr>
            <td><%= solicitud_rechazada_realizada[1]%></td>
            <td><%= solicitud_rechazada_realizada[3]%></td>
            <td><%= solicitud_rechazada_realizada[0]%></td>
            <td>  <%=solicitud_rechazada_realizada[2].nombre%></td>
            <td><%= link_to "Dejar reseña", resenas_new_path(current_user.id, solicitud_rechazada_realizada[2].id), class: "btn-2"%></td>
            <td><%= link_to "Eliminar solicitud", solicituds_destroy_path(current_user.id, solicitud_rechazada_realizada[5]), data:{turbo_method: :delete, turbo_confirm: "Estás seguro?"}, class:"btn-2"%></td>
            <% end %>
            </tr>
            </table>
        </section>

        <section class="seccion-subtitulo">
        <h2 id="subtitulo">Solicitudes Recibidas Rechazada</h2>
        </section>
        <section class="seccion-tabla">
            <table>
                <thead>
                <tr>
                <th>Solicitaron tu producto:</th>
                <th>Te ofrecieron el siguiente producto:</th>   
                <th>Estado de la solicitud</th> 
                <th>Usuario Solicitante</th>  
                <th>Deja una reseña</th>    
                <th>Eliminar del historial</th>          
                </tr>
                </thead>
            <% @solicitudes_rechazadas_recibidas.each do |solicitud_rechazada_recibida| %>
            <tr>
            <td><%= solicitud_rechazada_recibida[1]%></td>
            <td><%= solicitud_rechazada_recibida[3]%></td>
            <td><%= solicitud_rechazada_recibida[0]%></td>
            <td> <%=solicitud_rechazada_recibida[4].nombre%></td>
            <td><%= link_to "Dejar reseña", resenas_new_path(current_user.id, solicitud_rechazada_recibida[4].id), class: "btn-2"%></td>
            <td><%= link_to "Eliminar solicitud", solicituds_destroy_path(current_user.id, solicitud_rechazada_recibida[5]), data:{turbo_method: :delete, turbo_confirm: "Estás seguro?"}, class:"btn-2"%></td>
            <% end %>
            </tr>
            </table>
            
        </section>
    </main>
</body>

