<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <main>
        <%= render 'shared/header-chico' %>
        <section class="seccion-subtitulo">
        <h2 id="subtitulos-portada">
            Selecciona el producto que deseas intercambiar
        </h2>
        </section>
        <section class="seccion-tabla">
        <section class="seccion-subtitulo" id="back-titulo">
        <h3 id="subtitulo" >Libros</h3>
        </section>
            <table>
                <thead>
                <tr>  
                <th>Título</th>
                <th>Autor</th>
                <th>Estado</th>
                <th>N° Páginas</th>
                <th>Edición</th>
                <th>Editorial</th>
                <th>Tapa</th>
                <th>Descripción</th>
                <th>intercambiar</th>                    
                </tr>
                </thead>
            <% @libros_propios.each do |libro_propio| %>
            <tr>   
            <td><%= libro_propio.titulo %></td>
            <td><%= libro_propio.autor %></td>
            <td><%= libro_propio.estado %></td>
            <td><%= libro_propio.paginas %></td>
            <td><%= libro_propio.edicion %></td>
            <td><%= libro_propio.editorial %></td>
            <td><%= libro_propio.tapa %></td>
            <td><%= libro_propio.descripcion %></td>
            <td><%= link_to "Solicitar Intercambio", solicituds_new_ofrecido_path(@solicitable_id, @solicitable_type, libro_propio.id, 1), class:"btn-2"%></td>
            </tr>
            <% end %>
            </table>
        </section>
        <section class="seccion-tabla">
        <section class="seccion-subtitulo" id="back-titulo">
            <h2 id="subtitulo">Juegos</h2>
        </section>
            
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>N° Jugadores</th>
                        <th>Descripción</th>
                        <th>Ver Juego</th>
                    </tr>
                </thead>   
                    <% @juegos_propios.each do |juego_propio|%>
                    <tr> 
                    <td><%= juego_propio.nombre %></td>
                    <td><%= juego_propio.tipo %></td>
                    <td><%= juego_propio.estado %></td>
                    <td><%= juego_propio.cant_jugadores %></td>
                    <td><%= juego_propio.descripcion %></td>
                    <td><%= link_to "Solicitar Intercambio", solicituds_new_ofrecido_path(@solicitable_id, @solicitable_type, juego_propio.id, 2), class: 'btn-2'%></td>
                    </tr>   
                    <% end %>

            </table>

        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>