<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <main>
        <%= render 'shared/header-chico' %>
        
        <section class="seccion-subtitulo">
            <h2 id="subtitulo">Tu solicitud de intercambio fue realizada exitosamente</h2>
        </section>
        <section class="seccion-tabla">
            <table>
                <thead>
                <tr>
                <th>Estado</th>    
                <th><%=@tipo_solicitado%> Solicitado</th>
                <th><%=@tipo_ofrecido%> Ofrecido</th>   
                <th>Usuario</th>              
                </tr>
                </thead>
            <tr>
            <td><%= @solicitud.estado %></td>  
            <td><%=@nombre_solicitado%></td>
            <td><%=@nombre_ofrecido%></td> 
            <td> <%=@user_solicitado%></td>
            </tr>   

            </table>
        </section>
        
    </main>

</body>
</html>