<!DOC<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    
    <%= render 'shared/header' %>
  

    <section class="coffee">
        <div class="coffee-content container">
            <h2>¿Libros y Juegos de Mesa? ¿Para Qué?</h2>
            <p class="txt-p">
                Hacer cambios, como adentrarse en el mundo de los libros y
                juegos de mesa, puede ofrecer una amplia gama de beneficios
                y experiencias enriquecedoras. Aquí hay algunas razones
                convincentes para considerar la incorporación de libros
                y juegos de mesa en tu vida:
            </p>

            <div class="coffee-group">
                
                <div class="coffee-1">
                    <%= image_tag('catan.jpeg', alt: 'Portada de Inicio', class: 'img-info1') %>
                    <h3 class="titulos-portada">Diversion y Entretenimiento</h3>
                    <p>
                        Los juegos de mesa ofrecen una forma de entretenimiento única y
                        participativa. Desde emocionantes juegos de estrategia hasta
                        juegos ligeros y divertidos, hay opciones para todos los gustos.
                    </p>
                </div>
                <div class="coffee-1">
                    <%= image_tag('narnia.webp', alt: 'Portada de Inicio', class: 'img-info2') %>
                    <h3 class="titulos-portada">Desarrollo Personal</h3>
                    <p>
                        La lectura fomenta el desarrollo personal y la empatía al
                         exponerte a diferentes perspectivas y experiencias de vida. 
                         Puedes aprender y crecer a través de las historias de otros.
                    </p>
                </div>
                <div class="coffee-1">
                    <%= image_tag('monopoly.jpeg', alt: 'Portada de Inicio', class: 'img-info3') %>
                    <h3 class="titulos-portada">Conexiones Sociales</h3>
                    <p>
                        Los juegos de mesa son una manera fantástica de conectar con
                        amigos y familiares. Proporcionan una plataforma para compartir
                        risas, estrategias y tiempo de calidad juntos.
                    </p>
                </div>
            </div>
            <a href="#" class="btn-1" id="boton-info">Informacion</a>

        </div>

    </section>
    <main class=services>
        <div class="services-content container">
            <h2>¿Que Servicios Ofrecemos?</h2>

            <div class="services-group">
                <div class="services-1">
                    
                    <h3>Intercambio Facilitado</h3>
                </div>
                <div class="services-1">
                    
                    <h3>Comunidad y Confianza</h3>
                </div>
                <div class="services-1">
                    
                    <h3>Soporte Personalizado</h3>
                </div>
            </div>
            <p class="parrafo-servicios">
                La plataforma ofrece a los usuarios la posibilidad de intercambiar
                libros y juegos de mesa mediante perfiles personalizados que gestionan
                sus colecciones. Con un sólido sistema de comunicación, los usuarios
                pueden negociar intercambios y coordinar detalles gracias a
                notificaciones personalizadas. La comunidad se fortalece con foros,
                reseñas y un sistema de valoraciones para construir confianza.
                Servicios adicionales incluyen asistencia y soporte,
                historial de intercambios, medidas de seguridad y privacidad
                y la integración con redes sociales, brindando una experiencia
                integral para los amantes de la lectura y los juegos de mesa.
            </p>
            <a href="#" class="btn-1">Informacion</a>
        </div>
    </main>


    <section class="general">
        <div class="general-1">
            <h2>Descubre Nuevas Experiencias</h2>
            <p>
                ¿Tienes libros en tu estantería que ya has devorado y juegos de mesa que buscan un nuevo hogar? ¡Es hora de darles vida a través de intercambios emocionantes! En CambiaLibros, facilitamos el proceso para que puedas compartir tus tesoros con otros apasionados y descubrir auténticas joyas en el proceso.
            </p>
            <a href="#" class="btn-1">Informacion</a>
        </div>
        <div class="general-2"></div>
    </section>
    
    <section class="general">
        <div class="general-3"></div>
        <div class="general-1">
            <h2>¿Libros Olvidados?</h2>
            <p>
                ¿Tienes libros en tu estantería que ya has devorado 
                y juegos de mesa que buscan un nuevo hogar? ¡Es hora de 
                darles vida a través de intercambios emocionantes! En
                 CambiaLibros, facilitamos el proceso para que puedas compartir
                  tus tesoros con otros apasionados y descubrir auténticas joyas
                   en el proceso.
            </p>
            <a href="#" class="btn-1">Informacion</a>
        </div>
    </section>

    <section class="blog container">
        <h2>Opiniones</h2>

        <div class="blog-content">
            <div class="blog-1">
                <%= image_tag('user.png', alt: '') %>
                <h3>Lucía Sanhueza. - Amante de los Libros:</h3>
                <p>
                    Esta plataforma ha sido un tesoro para mi colección de libros.
                     Los intercambios son sencillos, la comunidad es amigable y las
                      reseñas me han ayudado a descubrir nuevas lecturas. ¡Una
                       experiencia invaluable para cualquier amante de la lectura!
                </p>
            </div>
            <div class="blog-1">
                <%= image_tag('user.png', alt: '') %>
                <h3>Carlos Medina. - Jugador Entusiasta:</h3>
                <p>
                    Como aficionado a los juegos de mesa, encontrar este sitio ha
                     sido un hallazgo. La diversidad de juegos disponibles es 
                     impresionante, y la facilidad para coordinar intercambios y 
                     conocer a otros jugadores ha hecho que mi experiencia sea 
                     emocionante y enriquecedora.
                </p>
            </div>
            <div class="blog-1">
                <%= image_tag('user.png', alt: '') %>
                <h3>Juan Pablo</h3>
                <p>
                    Mi experiencia en la plataforma ha sido mixta. Por un lado, la
                     diversidad de libros y juegos de mesa disponibles es sorprendente,
                      y he tenido intercambios positivos que han enriquecido mi colección.
                       Sin embargo, he notado cierta complejidad en la navegación de
                        la interfaz, lo que podría mejorar para hacerla más intuitiva.
                         Aunque he tenido buenos momentos, creo que la plataforma 
                         tiene potencial para optimizarse aún más.
            </div>
        </div>
        <a href="#" class="btn-1">Informacion</a>
    </section>
</body>
</html>