<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="turbo-visit-control" content="reload">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
    <main>
     <%= render 'shared/header-chico' %>
        <section class="seccion-subtitulo">
            <h2 id="subtitulo">Título: <%= @juego.nombre %></h2>
        </section>
        <section class="grid-layout2">
            <div class="subcaja-mostrar">
                <%= cl_image_tag @juego.imagen, :transformation=>
  {:height=>100, :crop=>"scale"}%>
            </div>
            <div class=caja-juego-mostrar>
                <div class="subcaja">Tipo</div>
                <div class="subcaja"><%= @juego.tipo %></div>
                <div class="subcaja">Estado</div>
                <div class="subcaja"><%= @juego.estado %></div>
                <div class="subcaja">N° Jugadores</div>
                <div class="subcaja"><%= @juego.cant_jugadores %></div>
                <div class="subcaja">Descripción</div>
                <div class="subcaja"><%= @juego.descripcion %></div>
            </div>
            <div class="subcaja-mostrar">
                <%@juego_owner = @juego.user%>
                Este juego fue publicado por <%=@juego_owner.nombre %>
                <br>
                Ve lo que otros usuarios opinan de <%=@juego_owner.nombre %>:
                <br>
                Reseñas:
                <%@resenas_recibidas.each do |resena_recibida|%>
                <div>Calificación: <%=resena_recibida.calificacion%>/5:
                <%=resena_recibida.comentario%></div>
                <% end %>
            </div>
            
        </section>
        <section class="seccion-subtitulo">
            <div class="caja-botones-mostrar">
                <div class="subcaja"><%= link_to "Intercambiar",solicituds_new_solicitado_path(@juego.id, @tipo=2), class:'btn-3'%></div>
                <div class="subcaja"><%= link_to "Volver", juegos_index_path(current_user.id), class:'btn-3'%></div>
            </div>
        </section>
    
            
    </main>
    <footer>

    </footer>
</body>
</html>