<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiaLibros</title>
</head>
<body>
<<<<<<< HEAD
    <section class="new">
            <section class="seccion-subtitulo">
                <section class="general" id="general-libros">
                    <div class="general-1" id="general-1-libros">
                        <h2>Este es tu Juego!</h2>
                        <p>
                            Desde acá puedes publicar un juego. Basta solo con introducir cada uno de los requerimientos que se solicitan en cada campo.
                            Se conciente que los datos que introduzcan seran con los que aparecera tu producto a los demás usuarios.
                            Para mayor información, puedes consultar nuestras preguntas frecuentes.
                        </p>
                        <a href="#" class="btn-1">Informacion</a>
                    </div>
                    <div class="general-2" id="general-2-libros">
                        <section class="seccion-formulario">
                            <div class="show-contenedor">
                            <section class="seccion-subtitulo">
                                <div class="caja-libro-show">
                                    <div class="subcaja c1">
                                    <%= cl_image_tag @libro.imagen.pathmap%></div>
                                    <div class="subcaja">Autor</div>
                                    <div class="subcaja"><%= @libro.autor %></div>
                                    <div class="subcaja">Estado</div>
                                    <div class="subcaja"><%= @libro.estado %></div>
                                    <div class="subcaja">N° de páginas</div>
                                    <div class="subcaja"><%= @libro.paginas %></div>
                                    <div class="subcaja">Edición</div>
                                    <div class="subcaja"><%= @libro.edicion %></div>
                                    <div class="subcaja">Editorial</div>
                                    <div class="subcaja"><%= @libro.editorial %></div>
                                    <div class="subcaja">Tapa</div>
                                    <div class="subcaja"><%= @libro.tapa %></div>
                                    <div class="subcaja">Descripción</div>
                                    <div class="subcaja"><%= @libro.descripcion %></div>
=======
    <main>
        <section id="encabezado">
            <h1 id="title">C⃣   a⃣   m⃣   b⃣   i⃣   a⃣   L⃣   i⃣   b⃣   r⃣   o⃣   s⃣</h1>
            <ul class="menu">
                <li><%= link_to "Inicio", "/pages", class: 'btn primary'%></li>
                <li><%= link_to "Libros", libros_index_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Juegos", juegos_index_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Inventario", users_show_productos_path(current_user.id) , class: 'btn primary'%></li>
                <li><%= link_to "Publicar libro", libros_new_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Publicar juego", juegos_new_path(current_user.id) , class: 'btn primary'%></li>
                <li><%= link_to "Solicitudes Pendientes", solicituds_index_pendientes_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Historial de Solicitudes", solicituds_index_ar_path(current_user.id), class: 'btn primary'%></li>
                <li><%= link_to "Tus Reseñas", resenas_index_path(current_user.id), class: "btn primary"%></li>
                <li><%= link_to "Soporte", "/soporte" , class: 'btn primary'%></li>
                <li><%= link_to "Tu Cuenta", users_show_path(current_user.id), class: 'btn primary'%></li>
            </ul>
        </section>
>>>>>>> refs/remotes/origin/Desarrollo

                                </div>
                            </section>
                            <section class="seccion-subtitulo">
                                <h2 id="subtitulo">Acciones</h2>
                            </section>    
                            <section class="seccion-subtitulo">
                                <section class="caja-botones">
                                    <div class="subcaja"><%= link_to "Actualizar", libros_edit_path(current_user.id, @libro.id), class:"btn-3"%></div>
                                    <div class="subcaja"><%= link_to "Eliminar",  libros_destroy_path(current_user.id, @libro.id), data:{turbo_method: :delete, turbo_confirm: "Estás seguro?"}, class:"btn-3" %></div>
                                </section>
                            </section>
                            </div>
                        </section>
                    </div>
            </section>
            
        </section>
         
       

</body>
</html>
